body {
    background: url("img/restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    padding-top: 0.0px;
    }

    h1 {
        font-size: 90px;
        font-weight: 500;
        
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        margin-top: -60px;
}
h1, h2 {
    color: rgb(235, 216, 191);
}

